<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') -%>

    <body>
        <header>
            <h1 class="forlang" key="KasVykstaHeader">Kas Vyksta Ukrinuose</h1>
        </header>

        <% if(isLoggedIn){ %>
        <%- include ('../partials/menulogged') -%>
        <% } else {%>
        <%- include ('../partials/menu') -%>
        <%}%>
            <div class="content">
                <div class="LV">
                    <div class="photo" style="background-image: url(koplytstulpis.jfif);"></div>
                    <div class="idk" key="">
                        Koplytstulpis
                        <div class="tekstas" key="">
                            Ukrinų koplytstulpis baudžiavos panaikinimui atminti
                        </div>
                    </div>
                </div>
                <div class="LV">
                    <div class="photo" style="background-image: url(Upe.jfif);"></div>
                    <div class="idk" key="">
                        Upe
                        <div class="tekstas" key="">
                            Varduvos Upe
                        </div>
                    </div>
                </div>
            </div>
        <%- include ('../partials/footer') -%>
    </body>
    <%- include ('../partials/scripts') -%>

</html>
