<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head') -%>


    <body>
        <header>
            <h1>Lankytinos vietos Ukrinuose</h1>
        </header>

        <% if(isLoggedIn){ %>
        <%- include ('../partials/menulogged') -%>
        <% } else {%>
        <%- include ('../partials/menu') -%>
        <%}%>
        <div class="content">
            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Lankytinos Vietos</h1>
            <div class="row text-center text-lg-left">
                <div class="col-lg-3 col-md-4 col-6 imgtext">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                    </a>
                    <div class="overlay">
                        <div class="text">Palmes</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 imgtext">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    </a>
                    <div class="overlay">
                        <div class="text">Parkour</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 imgtext">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                    </a>
                    <div class="overlay">
                        <div class="text" key="medis">Medis</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-6 imgtext">
                    <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="Sup">
                    </a>
                    <div class="overlay">
                        <div class="text">Dublikatas</div>
                    </div>
                </div>
            </div>
        </div>
    <%- include ('../partials/footer') -%>
    </body>
    <%- include ('../partials/scripts') -%>

</html>
